# Env
.env

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/

# Test
*.test
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Data
data/

# Go workspace
go.work
go.work.sum

# Front-End and Build dependencies
node_modules/
dist/
*.tsbuildinfo

# Internal agent and cli tools
.antigravitycli/
