# Env
.env

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/

# Test binaries
*.test
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Data
data/
wa-backend/server
